@page "/"
@using Portfolio.Data
<h1>Hello, world!</h1>

Welcome to your new app.

@*<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncAmt="10" />*@

<div id="projects" class="container">
    <div class="row">
        @foreach (ProjectBase project in projects)
        {
            <div class="col-md-4">
                <a href="@project.Url">@project.Name</a>
            </div>
        }
    </div>
</div>


@code {
    List<ProjectBase> projects = new List<ProjectBase> { new LincolnLeaf(), new CRMTool() };
}
